<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Mbm_MagoMcp::tokens" title="MCP Users" module="Mbm_MagoMcp" parent="MagoAssistant_Mago::assistant_menu" action="mago_mcp/tokens/index" resource="Mbm_MagoMcp::tokens" sortOrder="25"/>
    </menu>
</config>
